.main-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.main-header h2 {
    margin: 0;
}

.main-header button {
    height: 30px;
    background: white;
    outline: none;
    border-radius: 3px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
}

.newCocktails {
    color: blue;
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}
