div {
    text-align: center;
}

.authorization input {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 42%;
    margin-bottom: 20px;
}

form .send {
    display: block;
    margin-left: 49%;
}

.facebook {
    display: block;
    margin: 10px 0 10px 45.5%;
}
