* {
    font-family: sans-serif;
}

.container-inner {
    border: 2px solid black;
    border-radius: 5px;
    width: 1300px;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    margin-left: 15%;
    margin-right: 15% ;
    display: flex;
    justify-content: space-between;
}

.authorization {
    margin-top: 2.5%;
}

.authorization span {
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
}